# Supabase Configuration
SUPABASE_URL=https://wbrktjjgimvbddeobaeq.supabase.co
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Indicmt0ampnaW12YmRkZW9iYWVxIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODYzNDg4NzMsImV4cCI6MjEwMTkyNDg3M30.GJB56LUFGP4fruzBSA68IU9Hfj_tdCIxRgSSjqU3HTU
VITE_SUPABASE_URL=https://wbrktjjgimvbddeobaeq.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Indicmt0ampnaW12YmRkZW9iYWVxIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODYzNDg4NzMsImV4cCI6MjEwMTkyNDg3M30.GJB56LUFGP4fruzBSA68IU9Hfj_tdCIxRgSSjqU3HTU

# Telegram Configuration
TELEGRAM_BOT_TOKEN=8976015180:AAH7MoxBySdPMpC-sD2TOZTKCYAT2E-8O5U
TELEGRAM_GROUP_ID=-1004422388519

TELEGRAM_TOPIC_FOLLOWUP=2
TELEGRAM_TOPIC_QUOTATION=4
TELEGRAM_TOPIC_ORDERS=7
TELEGRAM_TOPIC_REPEAT_ORDERS=8
TELEGRAM_TOPIC_OVERDUE=9
TELEGRAM_TOPIC_WON_DEALS=10

